$plus-jakarta-sans-font: 'Plus Jakarta Sans', sans-serif;

// colors extracted from the UI
$primary-color: #3563E9;
$primary-light: #54A6FF;
$secondary-color: #1A202C;
$tertiary-color: #F6F7F9;
$label-color: #90A3BF;
$heart-icon-active-color: #ED3F3F;
$icon-default-color: #596780;
$heart-icon-border-color: #90A3BF;