// Injecting the UI variables
:root {
	--plus-jakarta-sans-font: #{$plus-jakarta-sans-font};
	--primary-color: #{$primary-color};
	--primary-light: #{$primary-light};
	--secondary-color: #{$secondary-color};
	--tertiary-color: #{$tertiary-color};
	--label-color: #{$label-color};
	--heart-icon-active-color: #{$heart-icon-active-color};
	--icon-default-color: #{$icon-default-color};
	--heart-icon-border-color: #{$heart-icon-border-color};
}

// Applying the Plus Jakarta Sans font
* {
	font-family: $plus-jakarta-sans-font;
}

body {
	background-color: $tertiary-color;
}